body{
    margin: 0;
    font-family: Arial,Helvetica, sans-serif;
    background-color: #0b0b0b;
    color: white;
}

.navbar{
  height: 80px;  
  background-color: #0b0b0b;
  /* flex para colocar tudo em linha, dessa divisão, partindo da direita */
  display: flex;
  /* para não ficarem encostados à direita */
  align-items: center; 
  /* Distrbui o espaço disponível entre estes três elementos */
  justify-content: space-between;
  /*Para dar espaço entre as margens da esquerda e direita, assim não ficam coladas ao canto do site. 0 é o top e 7 é o left/right*/
  padding: 0 7%;
}

.logo{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 3px;
}
/*O nav controla a organização dos links*/
nav{
    display: flex;
    /*espaço entre os links*/
    gap: 35px;
}

nav a{
    color: #aaa;
    /*Para não ter aquela cor azul e sublinhado dos links*/
    text-decoration: none;
    font-size: 15px;
    transition: 0.2s;
}
/*Condição para o nav, quando o rato estiver por cima*/
nav a:hover{
    color: white;
}

.login-button{
    background: transparent;
    color: white;
    /*1px espessura de linha, solid tipo de linha, #555 cor*/ 
    border: 1px solid #555;
    /*Cima/Baixo e Esquerda/Direita*/
    padding: 10px 20px;
    /*Para indicar que dá para clicar*/
    cursor: pointer;
    transition: 0.2s;
}
/*Condição para o Entrar, quando o rato estiver por cima*/
.login-button:hover{
    background: white;
    color: black;
    
}

.hero{
    min-height: 600px;
    display: flex;
    align-items: center;
    padding: 80px 7%;
    /*Tem dois gradientes que na declaração estão deparados por ","*/
    background: linear-gradient( 90deg,#0b0b0b 20%,rgba(11,11,11,0.8) 50%,rgba(11,11,11,0.2)), 
        linear-gradient(135deg,#18251c,#345c43,#111);
}

.hero-content{
    max-width: 550px;
}

.small-title{
    font-size: 13px;
    letter-spacing: 3px;
    color: #aaa;
}

.hero h1{
    font-size: 80px;
    letter-spacing: 5px;
    margin: 10px 0;
    color: white;
}

.description{
    color: #ccc;
    font-size: 18px;
    line-height: 1.6;
}

.movie-info{
    /*para ficarem lado a lado*/
    display: flex;
    gap: 20px;
    color: #aaa;
    margin: 25px 0;
}

.primary-button{
    background: white;
    color: black;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.primary-button:hover{
    background: black;
    color: white;
}

.section{
    padding: 80px 7%;
    background-color: #0b0b0b;
}

.section-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section-header h2{
    font-size: 36px;
    margin: 5px 0;
}

.section-label{
    color: #888;
    font-size: 12px;
    letter-spacing: 3px;
}

.section-header a{
    color: #aaa;
    text-decoration: none;
    transition: 0.2s;
}

.section-header a:hover{
    color: white;
}

.movies{
    display: grid;
    /*Cria três colunas iguais*/
    grid-template-columns: repeat(3, 1fr);
    /*Espaço entre os cartões*/
    gap: 25px;
}

.movie-card{
    background-color: #151515;
}

.poster{
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg,#333,#111);
}

.movie-card-info{
    padding: 25px;
}

.movie-card-info h3{
    margin-top: 0;
    font-size: 22px;
}

.movie-card-info p{
    color: #888;
}

.secondary-button{
    margin-top: 15px;
    background-color: transparent;
    border: 1px solid #555;
    color: white;
    padding: 10px 18px;
    cursor: pointer;
    transition: 0.2s;
}

.secondary-button:hover{
    background-color: white;
    color: black;
}

.sessions-section{
    background-color: #151515;
    padding: 80px 7%;
}

.session{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #333;
}

.session h3{
    margin: 0;
    font-size: 22px;
}

.session p{
    color: #888;
}

.session-times{
    display: flex;
    gap: 10px;
}

.session-times button{
    background: transparent;
    border: 1px solid #666;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    transition: 0.2s;
}

.session-times button:hover{
    background: white;
    color: black;
}

footer{
    padding: 50px 7%;
    border-top: 1px solid #222;
    color: #777;
}

.seat-button {
    margin: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

.seat-button.selected{
    background-color: #f5c518;
    color: black;
}

@media (max-width: 768px){
    .navbar{
        padding: 0 5%;
        gap: 15px;
    }
    
    nav{
        gap: 15px;
    }
    
    .navbar a{
        font-size: 13px;
    }
    
    .hero{
        padding: 60px 5%;
        min-height: 500px;
    }
    
    .hero h1{
        font-size: 50px;
    }
    
    .description{
        font-size: 16px;
    }
    
    .movies{
        /*os 3 filmes deixam de estar lado a lado e passam a ficar 1 por linha*/
        grid-template-columns: 1fr;
    }
    
    .session{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    
    .login-button{
        padding: 8px 12px;
        font-size: 13px;
    }
    
    .movie-info{
        gap: 10px;
        /*Se o espaço ficar demasiado pequeno as informações do filme podem passar para a linha seguinte em vez de ficarem apertadas*/
        flex-wrap: wrap;
    }
}

