<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Filmes - CineHub</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h1>Filmes em cartaz no CineHub</h1>
    <div class="movies">

    <div class="movie-card" th:each="movie : ${movies}">

        <h2 th:text="${movie.name}"></h2>

        <p>
            <strong>Duração:</strong>
            <span th:text="${movie.duration}"></span> minutos
        </p>

        <p>
            <strong>Ano:</strong>
            <span th:text="${movie.releaseDate}"></span>
        </p>

        <p>
            <strong>Rating:</strong>
            <span th:text="${movie.rate}"></span>
        </p>

        <p th:if="${movie.director != null}">
            <strong>Realizador:</strong>
            <span th:text="${movie.director.name}"></span>
        </p>

        <p th:if="${movie.studio != null}">
            <strong>Estúdio:</strong>
            <span th:text="${movie.studio.name}"></span>
        </p>
        
        <p>
        <strong>Géneros:</strong>
        </p>

        <ul>
        <li th:each="genre : ${movie.genres}"
            th:text="${genre.name}">
        </li>
        </ul>

        <hr>

    </div>
        </div>

</body>
</html>
